# Jupyter/Python
.ipynb_checkpoints

# R session data
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rprofile

# RStudio project files
*.Rproj

# Temporary files
*.swp
*.swo
.DS_Store
Thumbs.db

# OS-specific
.Rapp.history

# pkgdown
pkgdown/
docs
inst/doc
